<h1 class="user-header">New User</h1>

<%= render 'form', user: @user %>

<p style="font-size:17px;padding-top:20px;">Already have an account? Please <a href="../users" style="color:#fff;">click here</a> to log in!</p>
